<table>

    <tr>
        <th class="checkcells"><label for="select-all"></label><input type="checkbox" name="select-all"
                                                                      id="select-all"/></th>
        <th colspan="2">Product</th>

        <th>Price</th>
        <th class="buycell">Buy</th>
    </tr>

    {{#product}}
        <tr id="productId">
                <td><label for="checkbox-1"></label><input type="checkbox" name="checkbox-1" id="checkbox-1"></td>
                <td class="image"><img src="../Images/{{image}}"></td>
                <td>{{name}}</td>
                <td class="rightcell"><b>£{{price}}</b></td>
                {{#inStock}}
                    <td class="buyproduct">
                        <button onclick=" ">Add to Basket</button>
                        <br/><br/>
                        <button id="addwish" onclick="addWish()">Add to Wishlist</button>
                    </td>{{/inStock}}
                {{^inStock}}
                    <td class="buyproduct"><b>Out of Stock</b></td>{{/inStock}}

        </tr>
    {{/product}}

</table>

<script>
    var partials = {
        buyLink: "                            \
{{#inStock}}                        \
<li><a href='#'>Buy Now!</a></li> \
{{/inStock}}                        \
{{^inStock}}                        \
<li>Sorry, out of stock.</li>     \
{{/inStock}}                        \
"
    };
</script>

<script>
    $('#select-all').click(function (event) {
        if (this.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function () {
                this.checked = true;
            });
        }
        else {
            $(':checkbox').each(function () {
                this.checked = false;
            });
        }
    });
</script>

<script>
    var items = [];

    $(".addwish").on("click", function () {
        var newTr = $(this).closest("tr").clone();
        items.push(newTr);
        newTr.appendTo($("#comptable"));

    });
</script>



