<table id="tablId">
    <tr>
        <th colspan="4">Wishlist</th>
    </tr>

    {{#wish}}
        <tr id= "rowId"{{id}}>
            <td class="image"><img src="../Images/{{image}}"></td>
            <td>{{name}}</td>
            <td class="rightcell"><b>£{{price}}</b></td>
            {{#inStock}}
                <td class="buyproduct">
                    <button onclick=" ">Add to Basket</button>
                    <br/><br/>
                    <button name="remove" id="remove" onclick="deleteRow(this)">Remove</button>
                </td>{{/inStock}}
            {{^inStock}}
                <td class="buyproduct"><b>Out of Stock</b></td>{{/inStock}}
        </tr>
    {{/wish}}

</table>

<script>
    var partials = {
        buyLink: "                            \
{{#inStock}}                        \
<li><a href='#'>Buy Now!</a></li> \
{{/inStock}}                        \
{{^inStock}}                        \
<li>Sorry, out of stock.</li>     \
{{/inStock}}                        \
"
    };
</script>

