<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../CSS/login.css"/>
    {{> inc/head.mustache}}


</head>
<body>
<div>


    <main>
        <div class="wrapper">
            <div class="title">
                <h1>Congo.co.uk</h1>
                <h4>Shopping to send you up the river</h4>
                <h3>Login</h3>
            </div>
            <div class="login">
                <form method="POST" action="/login">
                    <div class="username1">
                        <label for="userName"><b>Username</b></label><br/>
                        <input type="text" name="userName" id="userName"/>
                        <a href="#">Forgot Username</a>

                        <br/>
                        <br/>
                        <br/>
                        <br/>

                        <label for="password"><b>Password</b></label><br/>
                        <input type="password" name="password" id="password"/>
                        <a href="#">Forgot Password</a>
                    </div>

                    <div class="submit">
                        <div class="loginsubmit">
                            <button type="submit" name="act" value="login"><b>Log in</b></button>
                        </div>

                        <div class="loginsubmit">
                            <button type="submit" name="act" value="register"><b>Register</b></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </main>
</div>
</body>
</html>