<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../CSS/login.css"/>
    {{> inc/head.mustache}}


</head>
<body>
<div>
    <main>
        <div class="wrapper">
            <div class="submit">
                <div class="loginsubmit">
                    <a class="return" href="/index.html">Back to Congo.co.uk</a>
                </div>
            </div>
            <div class="title">
                <h1>Congo.co.uk</h1>
                <h4>Shopping to send you up the river</h4>
                <h3>{{userName}}'s Messages</h3>
            </div>

            <div class="login">
                <form method="POST" action="/messages">
                    <div class="username1">
                        <h2>Send a new message</h2>

                        <input type="hidden" name="csrf" value="{{csrf}}"/>
                        <input type="hidden" name="user" value="{{user}}"/>
                        <div>
                            <label for="message">Send a Message</label>
                            <input type="text" name="message" id="message"/>
                        </div>
                        <div class="submit">
                            <div class="loginsubmit">
                                <button type="submit" name="send" value="send"><b>Send</b></button>
                            </div>
                        </div>


                    </div>
                </form>
                <div class="username2">
                            <h2>Old Messages</h2>
                            <ul>
                                {{#messages}}
                                    <li>
                                        <p>Message {{messageDate}}: {{message}}</p>
                                        <p>Reply {{replyDate}}: {{reply}}</p>
                                    </li>
                                {{/messages}}
                            </ul>
                </div>



            </div>
        </div>
    </main>
</div>
</body>
</html>
