<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../CSS/login.css"/>
</head>
<body>
<div>
    <main>
        <div class="wrapper">
            <div class="title">
                <h1>Congo.co.uk</h1>
                <h4>Shopping to send you up the river</h4>
                <h3>Register</h3>
            </div>
            <div class="login">
                <form method="POST" action="/login">
                    <div class="username">
                        <label for="name"><b>Name</b></label><br/>
                        <input type="text" name="name" id="name"/>
                        <label for="userName"><b>Username</b></label><br/>
                        <input type="text" name="userName" id="userName"/>
                        <label for="password"><b>Password</b></label><br/>
                        <input type="text" name="password" id="password"/>
                        <label for="retype"><b>Re-Type Password</b></label><br/>
                        <input type="text" name="retype" id="retype"/>
                    </div>

                    <div class="submit">
                        <div class="loginsubmit">
                            <button name="act" value="login"><b>Existing Account?</b></button>
                        </div>
                        <div class="loginsubmit">
                            <button type="submit" name="act" value="register"><b>Register</b></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
</body>
</html>