body {
    background-color: slategrey;
    margin: 0;
    padding: 0;
    font-family: 'Open sans', sans-serif;
    font-variant: small-caps;
}

button {
    background-color: white;
    color: darkslategrey;
    margin: 25px;
    padding: 10px;
    width: 35%;
    display: inline-block;
}

input {
    margin: 15px 0 15px 0;
    padding: 5px;
    width: 95%;
    background-color: lightgrey;
    font-family: 'Open sans', sans-serif;
    font-variant: small-caps;
}

input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 20px #9ecaed;
}

label {
    font-size: small;
}

a {
    font-size: small;
}

a.return {
    color: white;
}

.wrapper {
    background-color: darkslategrey;
    width: 30%;
    height: 100vh;
    margin: auto;
}

.title {
    color: white;
    text-shadow: 0 1px black, -3px 0 black, -3px 0 black, 0 1px black;
    padding: 10px 30px 10px 30px;

}

.login {
    color: white;
    text-shadow: 0 1px black, -3px 0 black, -3px 0 black, 0 1px black;
}

.username {
    padding: 30px;
    background-color: white;
    color: darkslategrey;
    text-shadow: 0 1px white, -3px 0 white, -3px 0 white, 0 1px white;
}

.username1 {
    padding: 60px 30px 60px 30px;
    background-color: white;
    color: darkslategrey;
    text-shadow: 0 1px white, -3px 0 white, -3px 0 white, 0 1px white;
}

.username2 {
    padding: 60px 30px 60px 30px;
    background-color: darkslategrey;
    color: white;
    text-shadow: 0 1px black, -3px 0 black, -3px 0 black, 0 1px black;
}

.submit {
    width: 100%;
}

.loginsubmit {
    display: inline;
    padding: 5px;
}

