body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family: 'Open sans', sans-serif;
}

header {
    margin: 0;
    background-color: darkslategrey;
    color: white;
    font-variant: small-caps;
    text-shadow: 0 1px black, -3px 0 black, -3px 0 black, 0 1px black;
    float: left;
    width: 100%;
    border-bottom: 5px solid teal;
}

section {
    width: 60%;
    float: left;

}

nav {
    width: 35%;
    float: left;

}

.centered {
    width: 100%;
    margin: 0;
    padding: 15px;
}


.masthead {
    float: left;
    width: 45%;
    height: inherit;
    padding: 10px 0 20px 50px;
}

.logindetails {
    float: right;
    width: 45%;
    height: inherit;
    text-align: right;
    padding: 20px 50px 20px 0;
}

.headerlinks {
    list-style-type: none;

}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: white;
}

.product {
    background-color: aqua;
}

.productpicture {
    margin: 0 50px 0 50px;
    background-color: sienna;
    width: 15%;
    padding: 0;
}

.title {
    background-color: blueviolet;
    width: 25%;
}

img {
    padding: 0;
    margin: 0;
    border: 1px solid black;
    vertical-align: middle;
    max-height: 150px;
}

.image {
    width: 150px;
}

#wrap {
    width: 57em;
}

textarea, .result div {
    font-size: .8em;
    width: 29em;
    height: 15em;
    margin: 1em 2em 2em 2em;
    padding: 1em;
}



.template, .html, .data, .result {
    float: left;
}

.result div {
    border: 1px solid #333;
}

h3 {
    display: block;
    margin: 2em 0 0 1.5em;
}

.process {
    display: block;
    clear: both;
    margin: 1em 0;
    width: 56em;
    text-align: center;
}

table {
    width: 100%;
    border-spacing: 0;
    border: none;
}


th {
    text-align: left;
    background-color: darkslategrey;
    color: white;
    font-weight: bold;
    padding: 15px;
}

tr {
    background-color: #F7F7E6;

}

td {
    text-align: left;
    color: #000000;
    padding: 15px;
    height: 50px;

}

tr:nth-child(odd) {
    background-color: lightgrey;
}

tr:hover {
    background-color: slategray;
}

.checkcells {
    width: 2px;
}

.buycell {

    text-align: center;
}

.rightcell {
    text-align: right;
    width: 20px;
}

.productsection {
    padding: 30px;
}

.buyproduct {
    color: darkslategrey;
    text-align: center;
    width: 5px;
}

button {
    background-color: darkslategrey;
    color: white;
}

button:hover {
    background-color: white;
    color: darkslategrey;
}

